<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Resto</span>
    <div style="margin-left: 10px;color:white" class="links-color">
        <a routerLink="/register"> Register </a>
        <a routerLink="/login"> Login </a>
        <a routerLink="/home"> Home </a>
        <a routerLink="/orders"> Orders </a>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>